In [1]:
import sys
sys.path.insert(0, '../src/data')
import bame_datastore
import pandas as pd
import requests

Found local clean copy of Local_Authority_Districts__December_2009__Boundaries
Found local clean copy of fbook_covid_cases
Found local clean copy of BAME_report_cases
Found local clean copy of BAME_report_deaths
Found local clean copy of bame_excess_deaths
Found local clean copy of ons_deaths
Found local clean copy of ethnicity_2011
Found local clean copy of furlough_data
Found local clean copy of key_workers
Found local clean copy of deprivation_data
Found local clean copy of population_est_data

In [2]:
bame_datastore.lib

{'mortality': ['fbook_covid_data',
  'bame_rpt_deaths',
  'bame_rpt_excess_deaths',
  'ons_deaths'],
 'explanatory': ['ethnicity_data',
  'bame_rpt_cases',
  'furlough_data',
  'key_workers',
  'deprivation',
  'pop_est'],
 'other': ['lad_geog']}

In [4]:
bame_datastore.ons_deaths.df

                                       deaths_all  deaths_covid
Area Name
Adur                                          415            39
Allerdale                                     704            67
Amber Valley                                  826            99
Aneurin Bevan University Health Board        3634           495
Arun                                         1265            67
...                                           ...           ...
Wrexham                                       819            77
Wychavon                                      793           106
Wyre                                          896           111
Wyre Forest                                   729           113
York                                         1148           163

[343 rows x 2 columns]

In [ ]:
ons_deaths_dict = {"name": "ons_deaths",
            "url":"https://www.ons.gov.uk/file?uri=%2fpeoplepopulationandcommunity%2fhealthandsocialcare%2fcausesofdeath%2fdatasets%2fdeathregistrationsandoccurrencesbylocalauthorityandhealthboard%2f2020/lahbtablesweek26.xlsx",
            "page_url": "https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/deathregistrationsandoccurrencesbylocalauthorityandhealthboard",
            "geog_col":"Area Name"}
url = ons_deaths_dict["url"]

In [ ]:
r = requests.get(url)
fpath = f"../data/external/ons_covid.xlsx"
with open(fpath, 'wb') as outfile:
    outfile.write(r.content)
deaths_df_raw = pd.read_excel(fpath, sheet_name="Registrations - All data", skiprows=3)

In [ ]:
area_nme_col = deaths_df_raw.columns[2] # becasue of trailing space in column name 
deaths_df = cases_df_raw.groupby([area_nme_col,'Cause of death', 'Week number']).sum()
deaths_df = deaths_df.groupby([area_nme_col,'Cause of death']).sum().reset_index()
deaths_df = deaths_df.pivot(index = "Area name ", columns = "Cause of death")

deaths_df.columns = deaths_df.columns.map(''.join)
deaths_df = deaths_df.reset_index()
deaths_df.columns = ["Area Name", "deaths_all", "deaths_covid"]

In [ ]:
deaths_df