In [1]:
import pandas as pd
import geopandas as gpd
import requests
import os
import seaborn as sns
import matplotlib.pyplot as plt

## Covid Data

In [96]:
def read_facebook_data(url:str)->pd.DataFrame:
    covid_df = pd.read_excel(covid_data_url, sheet_name="L4-LTLA",
                        usecols="B:AJ").dropna(subset=['Population (ONS estimates mid-2018)'])
    covid_df.columns = covid_df.columns.astype(str)
    return covid_df

In [97]:
covid_data_url = "../data/external/COVID-19 UK Cases.xlsx"

read_facebook_data(covid_data_url)

,Number of confirmed COVID-19 cases (cumulative total) by date of test results,UTLA Code,England Upper Tier Local Authorities/ Scotland NHS Health Boards/\nWales Health Boards,LTLA Code,LTLA Name,Population (ONS estimates mid-2018),2020-05-07 00:00:00,2020-05-08 00:00:00,2020-05-09 00:00:00,2020-05-10 00:00:00,...,2020-05-26 00:00:00,2020-05-27 00:00:00,2020-05-28 00:00:00,2020-05-29 00:00:00,2020-05-30 00:00:00,2020-05-31 00:00:00,2020-06-01 00:00:00,2020-06-02 00:00:00,2020-06-03 00:00:00,2020-06-04 00:00:00
0,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,211998.0,466.0,469.0,473.0,476.0,...,496.0,496.0,496.0,498.0,498.0,497.0,497.0,497.0,497.0,499.0
1,London,E09000003,Barnet,E09000003,Barnet,392140.0,1235.0,1241.0,1245.0,1250.0,...,1285.0,1287.0,1288.0,1289.0,1291.0,1296.0,1298.0,1299.0,1299.0,1299.0
2,London,E09000004,Bexley,E09000004,Bexley,247258.0,653.0,661.0,664.0,666.0,...,713.0,714.0,714.0,716.0,717.0,717.0,720.0,724.0,727.0,727.0
3,London,E09000005,Brent,E09000005,Brent,330795.0,1392.0,1394.0,1405.0,1408.0,...,1467.0,1470.0,1470.0,1471.0,1471.0,1472.0,1471.0,1476.0,1478.0,1477.0
4,London,E09000006,Bromley,E09000006,Bromley,331096.0,1132.0,1144.0,1157.0,1165.0,...,1273.0,1274.0,1275.0,1275.0,1278.0,1278.0,1279.0,1280.0,1281.0,1282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wales,NaN,Hywel Dda,W06000008,Ceredigion,72992.0,37.0,38.0,38.0,38.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
366,Wales,NaN,Hywel Dda,W06000009,Pembrokeshire,125055.0,233.0,236.0,245.0,248.0,...,278.0,278.0,278.0,278.0,278.0,278.0,278.0,279.0,279.0,279.0
367,Wales,NaN,Powys,W06000023,Powys,132447.0,197.0,198.0,199.0,204.0,...,272.0,276.0,281.0,283.0,284.0,285.0,285.0,286.0,286.0,287.0
368,Wales,NaN,Swansea Bay,W06000012,Neath Port Talbot,142906.0,517.0,518.0,522.0,523.0,...,597.0,598.0,599.0,602.0,603.0,603.0,604.0,606.0,606.0,606.0
369,Wales,NaN,Swansea Bay,W06000011,Swansea,246466.0,1137.0,1143.0,1146.0,1156.0,...,1250.0,1257.0,1262.0,1264.0,1264.0,1265.0,1267.0,1267.0,1267.0,1268.0

In [2]:
covid_data_url = "../data/external/COVID-19 UK Cases.xlsx"

covid_df = pd.read_excel(covid_data_url, sheet_name="L4-LTLA",
                        usecols="B:AJ").dropna(subset=['Population (ONS estimates mid-2018)'])
covid_df.columns = covid_df.columns.astype(str)
covid_df.head()

,Number of confirmed COVID-19 cases (cumulative total) by date of test results,UTLA Code,England Upper Tier Local Authorities/ Scotland NHS Health Boards/\nWales Health Boards,LTLA Code,LTLA Name,Population (ONS estimates mid-2018),2020-05-07 00:00:00,2020-05-08 00:00:00,2020-05-09 00:00:00,2020-05-10 00:00:00,...,2020-05-26 00:00:00,2020-05-27 00:00:00,2020-05-28 00:00:00,2020-05-29 00:00:00,2020-05-30 00:00:00,2020-05-31 00:00:00,2020-06-01 00:00:00,2020-06-02 00:00:00,2020-06-03 00:00:00,2020-06-04 00:00:00
0,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,211998.0,466.0,469.0,473.0,476.0,...,496.0,496.0,496.0,498.0,498.0,497.0,497.0,497.0,497.0,499.0
1,London,E09000003,Barnet,E09000003,Barnet,392140.0,1235.0,1241.0,1245.0,1250.0,...,1285.0,1287.0,1288.0,1289.0,1291.0,1296.0,1298.0,1299.0,1299.0,1299.0
2,London,E09000004,Bexley,E09000004,Bexley,247258.0,653.0,661.0,664.0,666.0,...,713.0,714.0,714.0,716.0,717.0,717.0,720.0,724.0,727.0,727.0
3,London,E09000005,Brent,E09000005,Brent,330795.0,1392.0,1394.0,1405.0,1408.0,...,1467.0,1470.0,1470.0,1471.0,1471.0,1472.0,1471.0,1476.0,1478.0,1477.0
4,London,E09000006,Bromley,E09000006,Bromley,331096.0,1132.0,1144.0,1157.0,1165.0,...,1273.0,1274.0,1275.0,1275.0,1278.0,1278.0,1279.0,1280.0,1281.0,1282.0

# Ethnicity
`csv` is stacked so need to use [pivot](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)
Has results in terms of national population (i.e. total number of that ethnicity in the country) vs. the local share of population of that ethnicity. Using local share

In [71]:
def read_ethnicity_data(data_url:str):
    race_df_raw = pd.read_csv(data_url)
    drop = "% of national ethnic population in this LA area" 
    race_df_raw = race_df_raw[race_df_raw.Measure != drop] #drop rows with national comparisons    
    race_df = pd.pivot_table(race_df_raw,
               index=["Geography_code","Geography_name", "Denominator"], 
               columns ="Ethnicity", 
               values = "Value").reset_index()
    race_df.columns.name = None # remove column name 
    
    return race_df

In [72]:
ethnic_url = "https://www.ethnicity-facts-figures.service.gov.uk/uk-population-by-ethnicity/national-and-regional-populations/regional-ethnic-diversity/latest/downloads/ethnic-population-by-local-authority.csv"

df1 = read_ethnicity_data(ethnic_url)

In [95]:
path = f"../data/interim" 

# os.path.dirname(path)
os.path.realpath(path)

'/Users/yusufsohoye/pythoncode/covid_bame/data/interim'

In [94]:
path = f"../data/interim/clean_ethnicity.csv" 

df1.to_csv(path)

In [ ]:
url = "../data/external/ethnic-population-by-local-authority.csv"
ethnic_url = "https://www.ethnicity-facts-figures.service.gov.uk/uk-population-by-ethnicity/national-and-regional-populations/regional-ethnic-diversity/latest/downloads/ethnic-population-by-local-authority.csv"
race_df_raw = pd.read_csv(ethnic_url)
drop = "% of national ethnic population in this LA area" 
race_df_raw = race_df_raw[race_df_raw.Measure != drop] #drop rows with national comparisons

race_df_raw.set_index(["Geography_name", "Ethnicity"]).sort_index() # sense check of the data

In [ ]:
race_df = pd.pivot_table(race_df_raw,
               index=["Geography_code","Geography_name", "Denominator"], 
               columns ="Ethnicity", 
               values = "Value").reset_index()
race_df.head()

# Joining race and covid deaths

In [ ]:
covid_df_merge = covid_df.set_index("LTLA Name")
race_df_merge = race_df.set_index("Geography_name")


covid = set(covid_df["LTLA Name"].unique())
race = set(race_df["Geography_name"].unique())

df = covid_df_merge.join(race_df_merge)

In [ ]:
df[list(df.columns[33:])]

In [ ]:
#correlation matrix of relevant variables
plt.figure(figsize=(19, 15))
corrMatrix = df[list(df.columns[33:])].corr()
sns.heatmap(corrMatrix, annot=True)
plt.show()
plt.savefig("../reports/figures/corrmat.png")

In [ ]:
fig, ax = plt.subplots(figsize=(20,17))

corr_capture = {}
for i in race_df_merge.columns[2:]: #itterate throught the ethnicities
    correlation = df[covid_df.columns[-1]].corr(df[i])
    corr_capture[i] = correlation
    
    ax = sns.regplot(x=i, y=covid_df.columns[-1], data=df, label=i)
    
ax.legend()
plt.legend(loc='upper right')
ax.set_title('Relationship between coronavirus deaths and ethnicity broken down by Local Authority District')
ax.set_xlabel('% of local population in this ethnic group - 2011 Census')
ax.set_ylabel('number of deaths in the local authority district')

plt.savefig("../reports/figures/regplot.png")

In [ ]:
corr_capture

# Shape

In [ ]:
geojson_path = "../data/geog/Local_Authority_Districts__December_2009__Boundaries.geojson"
if os.path.exists(geojson_path):
    print("Reading geoJSON locally")
    gdf1 = gpd.read_file(geojson_path)
else:
    print("Unable to locate geoJSON, downloading now. This may take a while")
    r = requests.get("https://opendata.arcgis.com/datasets/5e14c6bedc8740d19683517e5e902057_3.geojson")
    gdf = gpd.read_file(f.json())

In [ ]:
general = set(gdf1.lad09nm.unique())

In [ ]:
detail = set(gdf.lad16nm.unique())

In [ ]:
name = "England Upper Tier Local Authorities/ Scotland NHS Health Boards/\nWales Health Boards"
target = set(covid_df[name].unique())