In [4]:
# Graphics
%matplotlib inline
import matplotlib.pyplot as plt
from splot.esda import plot_moran
import contextily
from contextily.tile_providers import ST_TERRAIN_BACKGROUND
# Analysis
import geopandas
import pandas
from pysal.explore import esda
from pysal.lib import weights
from numpy.random import seed
# Bespoke
# from booktools import choropleth

/Users/yusufsohoye/pythoncode/covid_bame/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The "contextily.tile_providers" module is deprecated and will be removed in contextily v1.1. Please use "contextily.providers" instead.

In [6]:
import sys
sys.path.insert(0, '../src/data')
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import bame_datastore

In [8]:
df= pd.read_csv("../data/processed/explain_pop_norm.csv", index_col=0)
gdf = bame_datastore.lad_geog.gdf.set_index("lad09nm")
db = gdf.join(df)

In [16]:
db.head()

,objectid,lad09cd,lad09nmw,st_areashape,st_lengthshape,geometry,all_death_rate,covid_death_rate,bame_share,pct_furloughed,key_workers_pct
lad09nm,,,,,,,,,,,
City of London,1,00AA,,3.143399e+06,7743.569362,"POLYGON ((-0.08519 51.52034, -0.09676 51.52332...",NaN,NaN,NaN,NaN,NaN
Barking and Dagenham,2,00AB,,3.584012e+07,32834.831127,"POLYGON ((0.15916 51.51203, 0.16548 51.52843, ...",229.5,89.2,83.41,0.137700,33.1
Barnet,3,00AC,,8.696348e+07,44996.554865,"POLYGON ((-0.18209 51.66860, -0.19101 51.66395...",216.9,91.6,71.73,0.136088,29.3
Bexley,4,00AD,,6.065689e+07,42833.280659,"MULTIPOLYGON (((0.18660 51.48044, 0.17520 51.4...",165.4,54.8,36.23,0.114657,29.0
Brent,5,00AE,,4.378373e+07,35339.011384,"POLYGON ((-0.21348 51.55519, -0.23342 51.57198...",NaN,NaN,NaN,NaN,NaN

In [13]:
we, so, ea, no = db.total_bounds
img, ext = contextily.bounds2img(we, so, ea, no, 6,
                         url=ST_TERRAIN_BACKGROUND)
lic = ("Map tiles by Stamen Design, under CC BY 3.0. "\
               "Data by OpenStreetMap, under ODbL.")

/Users/yusufsohoye/pythoncode/covid_bame/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The "url" option is deprecated. Please use the "source" argument instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
# Generate W from the GeoDataFrame
w = weights.KNN.from_dataframe(db, k=8)
# Row-standardization
w.transform = 'R'

In [18]:
db['covid_death_rate_lag'] = weights.spatial_lag.lag_spatial(w, db['covid_death_rate'])
db.loc[['Barnet', 'Bexley'], 
       ['covid_death_rate', 'covid_death_rate_lag']]

         covid_death_rate  covid_death_rate_lag
lad09nm
Barnet               91.6                   NaN
Bexley               54.8                   NaN