In [1]:
import sys
sys.path.insert(0, '../src/data')
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import bame_datastore

In [2]:
import bame_datastore
bame_datastore.lib

Found local clean copy of ethnicity_2011
Found local clean copy of Local_Authority_Districts__December_2009__Boundaries
Found local clean copy of fbook_covid_deaths
Found local clean copy of BAME_report_cases
Found local clean copy of BAME_report_deaths
Found local clean copy of bame_excess_deaths
Found local clean copy of ons_deaths
Found local clean copy of furlough_data
Found local clean copy of key_workers

{'mortality': ['fbook_covid_data',
  'bame_rpt_deaths',
  'bame_rpt_excess_deaths',
  'ons_deaths'],
 'explanatory': ['ethnicity_data',
  'bame_rpt_cases',
  'furlough_data',
  'key_workers'],
 'other': ['lad_geog']}

In [6]:
df= pd.read_csv("../data/processed/explain_pop_norm.csv", index_col=0)
df

,all_death_rate,covid_death_rate,bame_share,pct_furloughed,key_workers_pct
Adur,144.3,12.1,8.25,0.120951,39.2
Allerdale,155.4,28.4,2.14,0.128601,37.4
Amber Valley,153.4,27.7,3.75,0.128363,32.2
Arun,119.1,8.5,5.90,0.127075,31.9
Ashfield,170.9,40.8,4.61,0.128037,29.1
...,...,...,...,...,...
Worthing,139.3,11.7,12.42,0.116590,35.8
Wrexham,142.0,9.4,6.22,0.111981,32.4
Wychavon,133.7,24.4,4.26,0.136818,38.9
Wyre,128.3,12.4,3.51,0.112298,48.2
Wyre Forest,168.6,37.3,5.52,0.136770,33.1