In [1]:
import sys
sys.path.insert(0, '../src/data')
import main

Found local clean copy
Found local clean copy

In [6]:
main.fbook_covid_data.df

,Number of confirmed COVID-19 cases (cumulative total) by date of test results,UTLA Code,England Upper Tier Local Authorities/ Scotland NHS Health Boards/\nWales Health Boards,LTLA Code,LTLA Name,Population (ONS estimates mid-2018),2020-05-07 00:00:00,2020-05-08 00:00:00,2020-05-09 00:00:00,2020-05-10 00:00:00,...,2020-05-26 00:00:00,2020-05-27 00:00:00,2020-05-28 00:00:00,2020-05-29 00:00:00,2020-05-30 00:00:00,2020-05-31 00:00:00,2020-06-01 00:00:00,2020-06-02 00:00:00,2020-06-03 00:00:00,2020-06-04 00:00:00
0,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,211998.0,466.0,469.0,473.0,476.0,...,496.0,496.0,496.0,498.0,498.0,497.0,497.0,497.0,497.0,499.0
1,London,E09000003,Barnet,E09000003,Barnet,392140.0,1235.0,1241.0,1245.0,1250.0,...,1285.0,1287.0,1288.0,1289.0,1291.0,1296.0,1298.0,1299.0,1299.0,1299.0
2,London,E09000004,Bexley,E09000004,Bexley,247258.0,653.0,661.0,664.0,666.0,...,713.0,714.0,714.0,716.0,717.0,717.0,720.0,724.0,727.0,727.0
3,London,E09000005,Brent,E09000005,Brent,330795.0,1392.0,1394.0,1405.0,1408.0,...,1467.0,1470.0,1470.0,1471.0,1471.0,1472.0,1471.0,1476.0,1478.0,1477.0
4,London,E09000006,Bromley,E09000006,Bromley,331096.0,1132.0,1144.0,1157.0,1165.0,...,1273.0,1274.0,1275.0,1275.0,1278.0,1278.0,1279.0,1280.0,1281.0,1282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wales,NaN,Hywel Dda,W06000008,Ceredigion,72992.0,37.0,38.0,38.0,38.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0
366,Wales,NaN,Hywel Dda,W06000009,Pembrokeshire,125055.0,233.0,236.0,245.0,248.0,...,278.0,278.0,278.0,278.0,278.0,278.0,278.0,279.0,279.0,279.0
367,Wales,NaN,Powys,W06000023,Powys,132447.0,197.0,198.0,199.0,204.0,...,272.0,276.0,281.0,283.0,284.0,285.0,285.0,286.0,286.0,287.0
368,Wales,NaN,Swansea Bay,W06000012,Neath Port Talbot,142906.0,517.0,518.0,522.0,523.0,...,597.0,598.0,599.0,602.0,603.0,603.0,604.0,606.0,606.0,606.0
369,Wales,NaN,Swansea Bay,W06000011,Swansea,246466.0,1137.0,1143.0,1146.0,1156.0,...,1250.0,1257.0,1262.0,1264.0,1264.0,1265.0,1267.0,1267.0,1267.0,1268.0