In [3]:
import sys
sys.path.insert(0, '../src/data')
import requests
import bame_datastore
import pandas as pd

In [4]:
def read_key_workers(url:str)->pd.DataFrame:
    r = requests.get(url)
    fpath = f"keyworkers.xlsx"
    with open(fpath, 'wb') as outfile:
        outfile.write(r.content)
    df = pd.read_excel(fpath, sheet_name="Table 19", skiprows=4, nrows=378)
    df.drop(df.columns[3:], axis=1, inplace =True)
    df.columns = ["Area Name", "total_key_workers", "pct_of_pop"]
    return df

In [6]:
url = "https://www.ons.gov.uk/file?uri=%2femploymentandlabourmarket%2fpeopleinwork%2fearningsandworkinghours%2fdatasets%2fkeyworkersreferencetables%2fcurrent/keyworkersreferencetableupdated.xlsx"

df = read_key_workers(url)
df

         Area Name  total_key_workers  pct_of_pop
0    Aberdeen City              35000        28.1
1    Aberdeenshire              47000        35.4
2             Adur              14000        39.2
3        Allerdale              18000        37.4
4     Amber Valley              21000        32.2
..             ...                ...         ...
373       Wychavon              22000        38.9
374        Wycombe              25000        29.0
375           Wyre              24000        48.2
376    Wyre Forest              14000        33.1
377        York UA              34000        31.5

[378 rows x 3 columns]